.main {
    padding: 5rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.filter {
    color: #0070f3;
    margin-top: 10px;
}

.list {
    color: #999999;
    margin-top: 10px;
}
